
._vmc_ textarea {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}
._vmc_ pre {
  margin: 0.2em 0; 
  padding: 0;
}
._vmc_ .colorRed {
  color: red;
}
._vmc_ .colorMain {
  color: #2ab7fc;
}
._vmc_ .pointer {
  cursor: pointer;
}

._vmc_ .flexgrow {
  flex-grow: 1; 
}
._vmc_ .alignCenter {
  align-items: center;
}
._vmc_ .justifyCenter {
  justify-content: center;
}









